<!DOCTYPE html>
<html>
  <head>
    <style>
      .container {
        width: 800px;
        font-family: Arial, Helvetica, sans-serif;
      }

      span {
        margin: 10px 0;
        display: block;
      }
    </style>

  </head>
  <body>
    <div class="container">
  <img src="https://i.imgur.com/oUAKMC5.png"/>
  <span>Hello, {{name}}</span>

  <br/>

  <span>You requested to reset your password.</span>
  <span>To reset your password, clink the link bellow
    <a href={{link}}>{{link}}</a>
  </span>

  <span>Just ignore this email in case you didn't request to reset your password.</span>

  <strong>Best regards!</strong>

  <h3>Team | <strong>Rentx</strong></h3>
</div>
  </body>
</html>